@import "scss/_settings/_settings";
.footer{
  margin-top:5.9rem;
  background-color: $color-light-grey;
  box-shadow: 0px -5px 40px $color-light-grey;
}
.footer__content{
  display: flex;
  justify-content: space-between;
}
.footer__text{
  padding-top:2.1rem ;
  padding-bottom: 1.7rem;
  .logo{
@include logo($f-s:26px)
  }
  p{
    font-size: 11px;
    font-family: $font-open-sans;
    color:$color-grey;
  }
}
.footer__sm{
  display: flex;
  gap:2rem;
  padding-right: 4.4rem;
  padding-top: 3.5rem;

}